@model TourneyTracker.Models.Home.TestListModel

<h2>TestListModel</h2>


<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Text</th>
        </tr>
    </thead>
    <tbody>
        @Html.EditorFor(m => m.List)
    </tbody>
</table>
<input type="number" id="inputId" name="id" />
<input type="text" id="inputText" name="text" />
<input type="button" id="inputSubmit" />

